    *{
    margin:0;
    padding:0;
}

.mainContainer{
    width:40vw;
    margin:auto;
    border: 1px solid black;

}

.inputContainer{
    padding:5px 20px;

}

.inputContainer input{
    width:100%;
}
.submit{
    width: 100%;
    /*align-content: center;*/
    /*align-items: center;*/
    background-color: blue;
    color: white;
    border: none;
    height: 26px;
    border-radius: 10px ;
}

.submit:hover{
    background-color:darkred;
}